OPENFACE_PORT=5101
OPENFACE_DEVICE=auto
OPENFACE_CUDA_DEVICE=0
OPENFACE_MAX_FACES=4
OPENFACE_MODEL_REPOSITORY=nutPace/openface_weights
OPENFACE_MODEL_REVISION=3844412b54706ed0a930b99589508ed3c101f39e
